.vr-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
   background-image: url(../assets/img.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.vr-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff89;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.vr-title {
    text-align: center;
    color: #333;
}
.vr-form-group {
    margin-bottom: 20px;
}
.vr-label {
    display: block;
    color:black;
    margin-bottom: 5px;
    font-weight: bold;
}
.vr-input, .vr-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
.vr-submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #8e791d;
    
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.vr-submit-btn:hover {
    background-color: #b09e4e;
   
}
@media (max-width: 480px) {
    .vr-container {
        padding: 10px;
    }
    .vr-input, .vr-select {
        font-size: 16px;
    }
}
.vr-back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.vr-back-button:hover {
    background-color: #e64a19;
}
